button {
    transition-duration: 0.4s;
    font-size:18px;
    padding: 12px;
    font-weight: bold;
    border: none;
    color: -moz-mac-accentdarkestshadow;
    background-color: dodgerblue;
}

button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

#buttons {
    text-align: center;
    margin-bottom: 100px;
    position: absolute;
    left: 35%;
}